#container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: rgb(255, 255, 255);
  z-index: 999;
  width: 70%;
  height: 89%;
  border: 1px solid grey;
  border-radius: 1%;
  box-shadow: 5px 3px 10px #7db3ca;
}

#list {
  height: calc(100% - 48px);
}
.display_block {
  display: block;
}
.display_none {
  display: none;
}

.header {
  display: flex;
  height: 48px;
  background-color: rgb(135, 164, 195);
  align-items: center;
  justify-content: flex-end;
}
.title {
  width: 20%;
  text-align: left;
  padding-left: 16px;
  font-size: 18px;
  font-weight: bolder;
}
.middle {
  width: 75%;
}
.close {
  flex: 1;
  text-align: center;
  font-size: 27px;
  font-weight: bolder;
}
