#container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-52%);
  background-color: rgb(255, 255, 255);
  z-index: 999;
  width: 65%;
  height: 80%;
  border: 1px solid grey;
  border-radius: 1%;
  box-shadow: 5px 3px 10px #7db3ca;
  padding-bottom: 20px;
}

#list {
  height: calc(100% - 48px);
}
.display_block {
  display: block;
}
.display_none {
  display: none;
}

.header {
  display: flex;
  height: 48px;
  width: 100%;
  background-color: rgb(135, 164, 195);
  align-items: center;
  justify-content: flex-end;
}
.title {
  width: 20%;
  text-align: center;
  padding: 0px 16px;
  font-size: 18px;
  font-weight: bolder;
}
.add_border {
  border-right: 2px solid rgba(56, 87, 121, 0.6);
}
.add_hover:hover {
  color: rgb(214, 238, 248);
  cursor: pointer;
}
.middle {
  flex: 1;
  height: 100%;
}
.close {
  width: 5%;
  text-align: center;
  font-size: 27px;
  font-weight: bolder;
}
