#container {
  position: absolute;
  top: 3%;
  left: 18%;
  background-color: rgb(255, 255, 255);
  z-index: 999;
  width: 70%;
  height: 92%;
  padding-bottom: 55px;
}
.display_block {
  display: block;
}
.display_none {
  display: none;
}

.header {
  display: flex;
  height: 48px;
  background-color: rgb(135, 164, 195);
  align-items: center;
  justify-content: flex-end;
}
.title {
  width: 150px;
  text-align: center;
  font-size: 18px;
  font-weight: bolder;
}
.middle {
  width: 80%;
}
.close {
  flex: 1;
  text-align: center;
  font-size: 27px;
  font-weight: bolder;
}
