#classlist_container {
  width: 100%;
  height: 100%;
  overflow: auto;
  position: relative;
  z-index: 888;
}
#classlist_container div.ant-table-wrapper,
  div.ant-spin-container,
  div.ant-spin-nested-loading {
  height: 100%;
}